# For this project, we are using the TMDb (The Movie Database) API.
TMDb API enables you to find out the latest information about TV Shows, Movies and the biggest names in entertainment sector for a marvelous and fun TV/Movie watching experience.

# Our Motivation for using TMDb API
By collecting the data using TMDb API one can recommend TV Shows, Movies and all sorts of entertainment on the basis of userâ€™s affinity to specific genres, actors, likes and dislikes.
We can find details about upcoming TV Shows and Movies.
We can find what is the most popular and/ or exclusive/new content at a given time.

Completed by Divyansh Singh

### TMDb 1.1
#Find the 'id' of the movie "Andhadhun" using TMDb API.

In [1]:
import requests
import json
api_key= "d4675fc10d9f782a53c0bc11dd76c415"

url = "https://api.themoviedb.org/3/movie/11?api_key=d4675fc10d9f782a53c0bc11dd76c415"

headers = {"accept": "application/json", }

response = requests.get(url, headers=headers)
for i in range(1,10):
    res = requests.get('https://api.themoviedb.org/3/discover/movie',params={'api_key':api_key,'page':i,'region':'IN','year':2018}) 
    data=res.json()
    for i in data['results']:
        if 'Andhadhun' in i['title']:
            print(i['id'])
            break

534780

### TMDb 1.2
Fetch the company id company 'Marvel Studios' using TMDb. Print the id.

In [2]:
api_key = "d4675fc10d9f782a53c0bc11dd76c415"
api_link = "https://api.themoviedb.org/3"
params = {'query':"Marvel Studios", 'api_key':api_key}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/search/company", headers = header, params=params)
data = response.json()
results= data.get("results")
for result in results:
    if result.get("name")== "Marvel Studios Animation":
        print(result.get("id"))

216474

### TMDb 1.3
Find the vote count and vote average of the movie "3 Idiots" using the TMDb API
Output format: Vote Count , Vote Average

In [3]:
api_key = "d4675fc10d9f782a53c0bc11dd76c415"
api_link = "https://api.themoviedb.org/3"
params = {'query':"3 Idiots", 'api_key':api_key}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/search/movie", headers = header, params=params)
data = response.json()
#print(data)
results= data.get("results")
for result in results:
    if result.get("original_title")=="3 Idiots":
        print(result.get("vote_count"), result.get("vote_average"))

2202 7.993

### TMDb 1.4
Fetch the names of top 5 similar movies to 'Inception' from the TMDb API.

In [5]:
api_key = "d4675fc10d9f782a53c0bc11dd76c415"
api_link = "https://api.themoviedb.org/3"
params = {'query':"Inception", 'api_key':api_key}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/movie/27205/similar", headers = header, params=params)
data = response.json()
# print(data)
results= data.get("results")
i=1
for result in results:
    if i<=5: 
        print(result.get('title'))
        i+=1

Strange Days
Beverly Hills Cop III
Faster, Pussycat! Kill! Kill!
True Romance
Snakes on a Plane

### TMDb 1.5
Fetch the top rated english movies in the US region using the TMDb API. From the result, print the first 10 movies which have original language as english. Also print their genres.
Note: Do not use the search/movies API for finding genres.

In [6]:
api_key = "d4675fc10d9f782a53c0bc11dd76c415"
api_link = "https://api.themoviedb.org/3"
params = {'api_key':api_key}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/genre/movie/list", headers = header, params=params)
data = response.json()
genres={}
#print(data)
for i in data['genres']:
    genres[i['id']]=i['name']
res = requests.get('https://api.themoviedb.org/3/movie/top_rated',params={'api_key':api_key,'region':'US'}) 
data1=res.json()
#data['results']
count=0
for i in data1['results']:
    if i['original_language']=='en':
        print(i['title'],end=' - ')
        for j in i['genre_ids']:
            print(genres[j],end=', ')
        print()
        count+=1
    if count==10:
        break

The Shawshank Redemption - Drama, Crime,
The Godfather - Drama, Crime,
The Godfather Part II - Drama, Crime,
Schindler's List - Drama, History, War,
12 Angry Men - Drama,
The Dark Knight - Drama, Action, Crime, Thriller,
The Green Mile - Fantasy, Drama, Crime,
Pulp Fiction - Thriller, Crime,
The Lord of the Rings: The Return of the King - Adventure, Fantasy, Action,
Forrest Gump - Comedy, Drama, Romance,

### TMDb 2.1
Find the name and birthplace of the present most popular person according to TMDb API.

In [7]:
api_key = "d4675fc10d9f782a53c0bc11dd76c415"
api_link = "https://api.themoviedb.org/3"
params = {'api_key':api_key}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/person/popular", headers = header, params=params)
data= response.json()
data= data["results"][0]
print(data['id'])
res= requests.get(api_link + "/person/1548301", headers= header, params=params)
data1=res.json()
print(data1['name'], '-',data1['place_of_birth'])

1548301
Farrah Mackenzie - None

### TMDb 2.2
Fetch the Instagram and Twitter handle of Indian Actress "Alia Bhatt" from the TMDb API.

In [8]:
api_key = "d4675fc10d9f782a53c0bc11dd76c415"
api_link = "https://api.themoviedb.org/3"
params = {'query': 'Alia Bhatt','api_key':api_key}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/search/person", headers = header, params=params)
data= response.json()
ID=data['results'][0]['id']
res = requests.get(f'https://api.themoviedb.org/3/person/{ID}/external_ids',params={'api_key':api_key}) 
data1=res.json()
print(data1['instagram_id']+ ' '+ data1['twitter_id'])

aliaabhatt Aliaa08

### TMDb 2.3
Fetch the names of the character played by Tom Cruise in the movies:
Top Gun
Mission: Impossible - Fallout
Minority Report
Edge of Tomorrow

In [9]:
api_key = "d4675fc10d9f782a53c0bc11dd76c415"
api_link = "https://api.themoviedb.org/3"
params = {'query': 'Tom Cruise','api_key':api_key}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/person/500/movie_credits", headers = header, params=params)
data= response.json()
for i in data['cast']:
    if i['title']=='Top Gun':
        print(i['character'])
        break
for i in data['cast']:
    if i['title']=='Mission: Impossible - Fallout': 
        print(i['character'])
        break
for i in data['cast']:
    if i['title']=='Minority Report': 
        print(i['character'])
        break
for i in data['cast']:
    if i['title']=='Edge of Tomorrow': 
        print(i['character'])
        break

Lt. Pete 'Maverick' Mitchell
Ethan Hunt
Chief John Anderton [Pre-Crime]
Maj. William 'Bill' Cage

### TMDb 2.4
Did James McAvoy play a role in the movie Deadpool 2. Print Yes or No.

In [10]:
api_key = "d4675fc10d9f782a53c0bc11dd76c415"
api_link = "https://api.themoviedb.org/3"
params = {'query': 'McAvoy','api_key':api_key}
header = {'Accept': 'application/json'}
response= requests.get(api_link+ "/search/person", params=params, headers=header)
data=response.json()
ID= data['results'][0]['id']
res = requests.get(api_link+ f"/person/{ID}/movie_credits", params=params, headers=header)
data1=res.json()
data1
for i in data1['cast']:
    if "Deadpool 2" in i['title']:
        print("Yes")
        break
else:
    print("No")

Yes

### TMDb 2.5
Using the result obtained in previous question, find out if James McAvoy was credited for his role in movie Deadpool 2. Print Yes or No.

In [11]:
api_key = "d4675fc10d9f782a53c0bc11dd76c415"
api_link = "https://api.themoviedb.org/3"
params = {'query':"Deadpool 2" , 'api_key':api_key}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/search/movie", headers = header, params = params)
data = response.json()
results = data.get('results')
for result in results:
    if result.get('original_title') == 'Deadpool 2':
        id = result.get('id')
params2 = {'api_key':api_key}
response2 = requests.get(api_link + "/movie/" + str(id) + "/credits" , headers = header, params = params2)
data2 = response2.json()
cast_array = data2.get('cast')
for cast in cast_array:
    if cast.get('name') == 'James McAvoy':
        james_info = cast
        break
if 'uncredited' in james_info.get('character'):
    print("No")
else:
    print("Yes")

No

### TMDb 3.1
Fetch the overview of the TV Show "FRIENDS" using TMDb API.
Output Format:
Print the Overview.

In [12]:
api_key = "d4675fc10d9f782a53c0bc11dd76c415"
api_link = "https://api.themoviedb.org/3"
params = {'query':"Friends" , 'api_key':api_key}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/search/tv", headers = header, params = params)
data = response.json()
data=data['results']
for i in data:
    if i['original_name']=='Friends':
        print(i["overview"])

Six young people from New York City, on their own and struggling to survive in the real world, find the companionship, comfort and support they get from each other to be the perfect antidote to the pressures of life.
Friends is a short-lived kids-oriented drama that aired in the spring of 1979. The series, which was produced by Aaron Spelling and aired on ABC, starred Charlie Aiken, Jill Whelan, and Jarrod Johnson as three Southern Californian 11-year-olds. Karen Morrow also appeared. Only five one-hour episodes were produced before the series was cancelled.

### TMdb 3.2
Fetch the name and air date of S06E05 of the TV Show 'The Big Bang Theory' from TMDb API.

In [13]:
api_key = "d4675fc10d9f782a53c0bc11dd76c415"
api_link = "https://api.themoviedb.org/3"
params = {'api_key':api_key,'query':'The Big Bang Theory'}
header = {'Accept': 'application/json'}
response2 = requests.get(api_link + "/tv/"+str(1418)+"/season/"+str(6)+"/episode/"+str(5), headers = header, params=params)
data=response2.json()
print(data['name'],"-",data['air_date'])

The Holographic Excitation - 2012-10-25

### TMDb 3.3
Fetch the trending TV Shows for the week from the TMDb API and print the taglines of the top 5 shows. If there is no tagline, print 'Empty' instead
Output Format:
Print the taglines in new line.

In [14]:
api_key = "d4675fc10d9f782a53c0bc11dd76c415" 
api_link = "https://api.themoviedb.org/3" 
params = {'api_key':api_key} 
header = {'Accept': 'application/json'} 
response = requests.get(api_link + "/trending/tv/week", headers = header, params = params) 
data = response.json() 
results = data.get("results") 
ids=[] 
for result in results[:5]: 
    ids.append(result.get("id")) 
    
for id in ids: 
    response2 = requests.get(api_link + "/tv/" + str(id) , headers = header, params = params) 
    data2 = response2.json() 
    if (data2.get("tagline")) != "": 
        print(data2.get("tagline")) 
    else: 
        print('Empty')

One question changes everything.
Empty
Space. For all.
The gods are waiting.
Reacher's back.

### TMDb 3.4
Print the names of all the TV shows to be aired today whose original language is english.
Output Format:
Print the name of each TV show in a new line.

In [15]:
api_key = "d4675fc10d9f782a53c0bc11dd76c415"
api_link = "https://api.themoviedb.org/3"
params = {'query':"Friends" , 'api_key':api_key}
header = {'Accept': 'application/json'}
res = requests.get('https://api.themoviedb.org/3/tv/airing_today',params=params, headers=header) 
data=res.json()
total_pages=data['total_pages']

for j in range(1,total_pages+1):
    res = requests.get('https://api.themoviedb.org/3/tv/airing_today',params={'api_key':api_key,'page':j}) 
    data=res.json()
    for i in data['results']:
        if i['original_language']=='en':
            print(i['name'])

What If...?
Would I Lie to You?
EastEnders
Emmerdale
PBS NewsHour
WWE SmackDown
Hollyoaks
Gold Rush
Power Book III: Raising Kanan
Coronation Street
Days of Our Lives
CBS Evening News with Norah O'Donnell
General Hospital
Naked News
Ridiculousness
Washington Week with The Atlantic
Work It Out Wombats!
NCIS: Sydney
All Elite Wrestling: Rampage
University Challenge
Love After Lockup
Mortimer & Whitehouse: Gone Fishing
Two Doors Down
Two Doors Down
MotorWeek
Pitch Meeting
Pitch Meeting
Off the Record
Gamers Mangkuk
The Real Housewives of Lagos
Black Rider
Can't Go Home
Craft in America
The Toy Hospital
Live at The Queer Comedy Club
Unexplained: Caught On Camera
The World According to Football
Zero Waste Life
The World's Strongest Man
Xian Xia Shi Jie
Richard Osman's House of Games
Very Important People

### TMDb 3.5
Count the number of males and females in the cast of "Money Heist" using the TMDb API.
Output Format:
Print the count of male and female space separated.
male_count female_count

In [17]:
res = requests.get('https://api.themoviedb.org/3/search/tv',params={'api_key':api_key,'query':'Money Heist'}) 
data=res.json()
for i in data['results']:
    if i['name']=='Money Heist':
        ID = i['id']
res = requests.get(F'https://api.themoviedb.org/3/tv/{ID}/credits',params={'api_key':api_key}) 
data=res.json()
Female=0
Male=0
for  i in data['cast']:
    if i['gender']==2:
        Male+=1
    elif i['gender']==1:
        Female+=1
        
print(Male,Female)

10 5